body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 300;
}

.bg-success {
    background-color: #71b100!important;
}

@media (min-width: 768px) {
    .top-bar.bg-success {
        background-color: transparent!important;
    }
    .header {
        position: relative;
    }
    .header .top-bar {
        position: absolute;
        z-index: 100;
    }
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 300;
}

.navbar-brand span {
    font-weight: 900;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
    color: #ffffff!important;
    font-size: .8rem;
}


/** Dropdown **/

.dropdown-menu {
    background-color: #ffbb66;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
    text-transform: uppercase;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgb(177, 38, 61);
}


/** Info Block inside slider **/

.carousel-caption h3 {
    font-size: 2.4rem;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.384);
}

.one {
    width: 50px;
}

.about-us h2 {
    color: orangered;
}

.card {
    position: relative;
    margin: 20px 0;
    height: 400px;
    width: 300px;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 100px 0 50px rgba(0, 0, 0, 0.5);
}

.card:hover {
    z-index: 1111;
    box-shadow: inset 20px 0px 50px rgba(0, 0, 0, 0.5);
    transform: perspective(2000px) rotate(-10deg);
}

.card .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.card .img-container img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card:hover .img-container {
    transform: rotateY(-135deg);
}

.card .card-details {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 20px;
    color: #000;
}

.card .card-details h3 {
    margin: 0;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-size: 2em;
    color: #ed363a;
}

.card .card-details p {
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-size: 1.1em;
}

.btn:hover {
    background-color: rgb(111, 141, 40);
    border: greenyellow;
}


/** Properties **/

.properties .card-price {
    font-size: 1.1rem;
    color: #71b100;
}

.properties .card-description img {
    margin-right: .5rem;
}


/*** Find your house**/

.find-your-house {
    background-image: url(/img/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.find-your-house .row {
    height: 25rem;
}

.find-your-house h3 {
    font-size: 2.2rem;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/** Blog **/

.entry h3::after {
    content: '';
    display: block;
    width: 20rem;
    height: .1rem;
    background-color: rgba(43, 58, 128, 0.74);
    margin-top: .5rem;
}

.entry .meta span {
    color: #e08709;
}

.btn-success {
    background-color: rgba(43, 58, 128, 0.74);
    text-transform: uppercase;
    font-weight: 700;
}

.btn-success:hover {
    background-color: rgba(43, 58, 128, 0.74);
}

.testimonials {
    background-color: rgba(43, 58, 128, 0.74);
}

.testimonials .carousel-item {
    padding-left: 2rem;
}

.testimonials .testimonial-text {
    position: relative;
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 300;
}

.testimonials .testimonial-text::before {
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    left: -2rem;
    top: 1rem;
    font-weight: 900;
}

.testimonials span {
    font-size: 1.4rem;
    font-weight: 900;
}

.footer {
    background-color: rgba(34, 33, 33, 0.603)!important;
}

.footer .nav-link {
    background: peru;
    color: black;
    text-transform: uppercase;
}

.footer .nav-link:hover {
    box-shadow: 5px 5px 5px rgb(207, 207, 57);
    transform: translateY(-3px);
}